<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<script>
     function changeCurrencyFrom(selectObject) {
        var value = selectObject.value;
        console.log(value);
        var x = document.getElementById(value).textContent;
        console.log(x);
        document.getElementById("inputField").value = x;

    }
</script>
</head>
<!-- Insert content into the layouts/layout.html -->
<th:block layout:fragment="content">

    <div class="grid-container">
        <div class="grid-item">

            <h4>Choose a currency</h4>

        </div>
        <div class="grid-item">

            <h4 id="currencyField0">Current value of currencies compared to 1 lev</h4>
        </div>
        <div class="grid-item">

            <form action="#" th:action="@{/}" th:object="${input}" method="post">
                <label for="currencyFrom"><span class="currencyText">From:           </span></label>
                <select name="currencyFrom" id="currencyFrom" th:field="*{content}">
                    <option value="Dollar">Dollar</option>
                    <option value="Pound sterling">Pound sterling</option>
                    <option value="Euro">Euro</option>
                    <option value="Japanese Yen">Japanese Yen</option>
                </select>
                <br>
                <label for="currencyTo"><span class="currencyText">To:                </span></label>
                <select name="currencyTo" id="currencyTo" th:field="*{content}">
                    <option value="Dollar">Dollar</option>
                    <option value="Pound sterling">Pound sterling</option>
                    <option value="Euro">Euro</option>
                    <option value="Japanese Yen">Japanese Yen</option>
                </select>
                <br>
                <label for="label"><span class="currencyText">        Sum:    </span></label>
                <input type="text" th:field="*{id}" name="label"/>
                <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
            </form>

        </div>
        <div class="grid-item">

            <strong id="currencyField1" th:text="${currencyFromValue}">cc</strong>
            <br>
            <strong id="currencyField2" th:text="${currencyToValue}">cc</strong>

        </div>
    </div>


    <h4>Result:</h4>
    <strong th:text="${result}">cc</strong>

    <hr>

    <strong th:text="${currencyNameDollar}">cc</strong>
    <br>
    <strong id="Dollar" th:text="${valueDollar}">cc</strong>

<!--    <h4>Resuddlt:</h4>-->

</th:block>

</html>
